# File system
.DS_Store

# Node
node_modules

# Env
.env

# Eslint
.eslintcache

# Hardhat
artifacts
cache

# Deployment
**/deployments/localhost/*
**/deployments/*/failed*

# Solidity coverage
coverage
coverage.json
.coverage*

# Typechain
typechain-types

# Lerna
lerna-debug*
